@charset "utf-8";
/*CSS Document*/
body, html{
    font-family: "Microsoft YaHei", "微软雅黑";
    background-color: #fff;
    height: 100%;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 30px;
}
a {color: #00d5af; text-decoration: none;}
a:hover {
    color: #029178; text-decoration: none;
}
h3 {font-size: 1.8em; line-height: 1em; margin-top: 20px;}
/*top*/
.wrapper{
    width: 100%; height: 100%;
}
.logo{
    text-align: center;width: 50px;height: 50px;
    margin: 5px 0px;
}
.leadf{
    line-height: 1.4; font-weight: 600; font-size: 21px;margin-bottom:0px;
}
.leadf:hover {
    color: #00d5af; text-decoration: none;
}
.h1{
    font-size: 5em;
    display: inline-block;
    letter-spacing: 0.05em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
}

.intro{
    position: relative;display: block;min-height: 100%;height: auto !important;
    text-align: center; padding: 150px 0;
}
.more {
    position: absolute; bottom: 30px; font-size: 16px;text-align: center; width: 50px; height: 50px;
    padding-top: 18px; padding-left: 3px; border-radius: 25px;  left: 50%; color: #fff; margin-left: -25px;
    -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -ms-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}

.more:hover {
    background-color: #fff;
    color: #00d5af;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -ms-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}
.intro h1, .delay {
    -webkit-animation-delay: 0.3s; /* Chrome, Safari, Opera */
    animation-delay: 0.3s;
}

.thumbs {
    display: inline-block;
    margin: 0 0 -6px 0;
    margin-right: 0;
    background: #333;
}

.thumb {
    padding:0;
    overflow: hidden;
}
.thumb img {
    margin: 0;
    padding: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.thumb span {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    bottom: 10px;
    font-size: 30px;
    line-height: 1em;
    text-transform: uppercase;
    color: #fff;
    padding: 0 20px;
    opacity: 0;
    z-index: 10;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.thumb a:hover span {
    bottom: 40px;
    opacity: 1;
}

.thumb span::before {
    position: absolute;
    top:-20px;
    left: 45%;
    content: "";
    border-top: 2px solid #fff;
    width: 0px;
    z-index: 2000;
    transition:width 0.2s ease-in;
}

.thumb a:hover span::before {
    width: 10%;
    left: 45%;
    transition:width 0.2s ease-in;
}

.thumb a:hover img {
    /*    -webkit-transform: scale(1.05,1.05);
        -moz-transform:scale(1.05,1.05);*/
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.home a span {
    height: 60px; top:50%; marin-top:-30px; opacity: 1; font-size: 2.4em;
}
.home a:hover span {
    top:48%;
}
.thumbOverlay {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 57%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(57%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 57%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 57%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 57%,rgba(0,0,0,0.6) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 57%,rgba(0,0,0,0.6) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */
    opacity: 0;
    z-index: 0;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.thumb:hover .thumbOverlay {
    opacity: 0.9;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.copy {
    text-align: center;
    padding: 50px 0;
    margin-top: 0;
    background: #fff;
}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 0px;
}
p {
    font-size:1.4em;
    line-height: 1.5em;
    margin-bottom: 10px;
    color: #777;
}
.pp{
    margin: 30px 0px;
}
.leftAlign {
    text-align: left;
}
.btn:hover {
    background: rgba(255,255,255,1);
    color: #00d5af;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -ms-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}
.btn {
    display: inline-block;
    margin:30px 10px 0 0;
    background: #fff;
    font-size: 0.9em;
    color: #777;
    text-transform: uppercase;
    border: 1px solid #e5e5e5;
    letter-spacing: 1px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 20px 8px 20px;
    overflow: hidden;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -ms-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}
.btn span, .btnTop span {
    font-size: 13px;
    padding: 0 7px 0 7px;
    color: #ccc;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
span.glyph-hover {
    margin-left: -17px;
    top: -30px;
    color: #00d5af;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.btn:hover span, .btnTop:hover span {
    top:30px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.btn:hover span.glyph-hover, .btnTop:hover span.glyph-hover {
    top:1px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon:empty {
    width: 1em;
}
a.scrolled {display: block;}

a.btnTop:hover {
    border: 1px solid #ededed;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.btnTop {
    background: #fff;
    border: 1px solid #e5e5e5;
    padding: 10px 16px 10px 8px;
    position: fixed;
    color: #666;
    border-radius: 3px;
    bottom: 30px;
    right: 20px;
    display: none;
    z-index: 1000;
    overflow: hidden;
}
footer {
    padding: 25px;
    text-align: left;
    font-family: "Microsoft YaHei", "微软雅黑";
    background-color: #f7f7f7;
    clear: both;
}

footer p {
    font-family: "Microsoft YaHei", "微软雅黑"; font-size: 1.5em; text-align: right;
    color: #ccc; padding-right: 60px; height: 24px; margin-top: 10px;
}
ul.social-icons{
    list-style-type: none;
    text-align: center;
    width: 196px;
    padding: 0;
    margin: 0;
}

ul.social-icons li {
    float: left;
}
a.icon {
    font-size: 1.5em;
    display: inline-block;
    float: left;
    height: 45px;
    width: 45px;
    margin: 2px;
    color: #ccc;
    text-align: center;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
a.icon.github {
    padding:11px 5px 5px 5px; background: url("../images/more/github.png") no-repeat;
}
a.icon.github:hover {
    background: url("../images/more/github2.png") no-repeat;
}
a.icon.qq {
    padding:11px 5px 5px 5px; background: url("../images/more/qq.png") no-repeat;
}
a.icon.qq:hover {
    background: url("../images/more/qq2.png") no-repeat;
}
a.icon.cnblogs {
    padding:9px 5px 5px 5px; background: url("../images/more/cnblogs.png") no-repeat;
}
a.icon.cnblogs:hover {
    background: url("../images/more/cnblogs2.png") no-repeat;
}
a.icon.weixin {
    padding:12px 5px 5px 5px; background: url("../images/more/weixin.png") no-repeat;
}
a.icon.weixin:hover {
    background: url("../images/more/weixin2.png") no-repeat;
}
@media (max-width: 767px) {
    h1 {font-size: 2em; line-height: 1.2em; margin: 10px 0;}
    h2, h1.small {font-size:1.5em; line-height: 1em;}
    h3 {font-size:1.5em; line-height: 1em; text-align: center;}
    p {font-size: 1.2em; margin-bottom: 20px; text-align: center;}

    .btn {
        display: block;
        width: 100%;
        margin:15px 10px 0 0;
        padding: 14px 20px 12px 20px;
    }

    .thumb span {font-size: 26px; left: 0px; bottom: 20px;}
    .thumb a span {bottom: 40px; opacity: 1;}
    .thumb a span::before {width: 10%;}

    .home a span {height: 40px; top:48%; marin-top:-20px; opacity: 1; font-size: 2em;}
    .home a:hover span {top:46%;}

    .copy {padding: 20px 20px 30px 20px;}
    .intro {padding: 40px 0 0 0;}
    .intro h3 {margin-top: -5px; font-size:1.3em;}
    .images {margin-top: 0px;}
    .work {padding: 50px 20px; margin: 20px 0 0 0;}
    .work img {margin-bottom: 50px;}
    .navbar-brand {font-size: 35px; margin-left: -20px; padding: 10px 5px 5px 5px; color: #000; text-align: center; width: 50px;}
    .navbar {padding:2px 0 0 0;}
    footer a {padding: 30px 0;}
    footer p {text-align: center; padding-right: 0; display: block; width: 100%; float: left;}
    ul.social-icons {left:50%; margin-left: -98px;}
    .avatar {margin-top: 10px;}
}

@media (max-width: 992px) {
}

@media (min-width: 992px) {
}